/.mixin.out/
/config/worldedit/worldedit.proprties
/CustomMOTD/
/DiscordIntegration-Data/
/ForgeEssentials/
/blocklog/
/cache/
/crash-reports/
/customnpcs/
/dynmap/
/journeymap/
/libraries/
/logs/
/mods/
/playerdata/
/world/
/OpenComputersMod-1.8.2-52-libjnlua52-freebsd-x86_64.so
/OpenComputersMod-1.8.2-53-libjnlua53-freebsd-x86_64.so
/OpenComputersMod-1.8.2-54-libjnlua54-freebsd-x86_64.so
/banned-ips.json
/banned-players.json
/config.tar
/crafttweaker.log
/eula.txt
/forge.jar
/minecraft_server.1.12.2.jar
/ops.json
/server-icon.png
/server.properties
/start.sh
/usercache.json
/usernamecache.json
/whitelist.json
/world-20230712-085652.zip
/world-20230712-090330.zip
/config/Discord-Integration.toml
/config/worldedit/worldedit.properties