# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=b7e45611-98d8-46f5-8e40-a627a5c78167

    # Set to true to disable all reporting
    B:opt-out=false
}


